body {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fdf4e7;
}

.game-container {
    display: flex;
    gap: 40px;
    margin-top: 20px;
}

.pizza-area {
    position: relative;
    width: 350px;
    height: 350px;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.hidden {
    display: none;
}

.controls {
    padding: 15px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1)
}